html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body{
  background: #FFF;
  margin: 0 0;
  color: #404040;
  min-height: 100vh;
}

h1{
  margin-bottom: 15px;
}

nav{
  font-size: 15px
  font-family: 'Orbitron', sans-serif;
}

main{
  margin-left: 165px;
  width: 65vw;
}

main li{
  margin: 15px 0 15px 15px;
}
main p{
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 1440px){
  body{
    font-size: 20px;
  }

}
