html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body{
  background: #FFF;
  font-family: 'Orbitron', sans-serif;
  margin: 0 0;
  color: #404040;
  font-size: 25px;
  height: 100vh;
}

 .fa-home{
  color:  #F006FF;
}

.home-button {
  cursor: default;
}

#home{
  transform: translateX(200px);
  color:  #F006FF
}

.home-button:hover .fa-home{
 color:  #F006FF;
 transform: scale(1);
}

#introduction{
  padding-top: 10vh;
  margin: 0px 15px 0px 165px;
  width: 1000px;

}

#intro-header{
  margin-bottom: 30px;
}

#introduction h3{
  display: none;
}

#p1{
  display: none;
}

#p2{
  display: none;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1440px){
  body{
    font-size: 40px;
  }
  #introduction{
    margin: 0px 15px 0px 165px;
    width: 65vw;
  }
}
