html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body{
  background: #FFF;
  font-family: 'Orbitron', sans-serif;
  margin: 0 0;
  color: #404040;
  font-size: 25px;
  min-height: 100vh;
}

#tutorials{
  color: #0CE846;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
}

.tutorials-button a{
  cursor: default;
}

 .fa-map{
  color: #0CE846;
  cursor: default;
}

.tutorials-button:hover .fa-map{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);

}


@media screen and (max-width: 1440px){
  body{
    font-size: 40px;
  }
}
